## Campaign contributions for and against Proposition 15, California's November 2020 ballot measure to reform part of Prop. 13

By Luke Harold

*** current as of Sept. 26, 2020

## As of Sept. 17, not all committees formed have received contributions

## media coverage so far:

https://www.courthousenews.com/backers-of-revision-to-proposition-13-turn-in-1-7-million-california-voter-signatures/

https://calmatters.org/economy/2018/08/prop-13-could-be-party-undone-in-2020-heres-what-you-should-know/

https://www.kqed.org/news/11823522/will-california-voters-support-new-taxes-to-avoid-painful-budget-cuts

In [1]:
import pandas as pd

In [2]:
pip install altair

Requirement already satisfied: altair in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (4.1.0)
Requirement already satisfied: toolz in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from altair) (0.10.0)
Requirement already satisfied: numpy in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from altair) (1.19.2)
Requirement already satisfied: pandas>=0.18 in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from altair) (1.1.2)
Requirement already satisfied: jinja2 in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from altair) (2.11.2)
Requirement already satisfied: entrypoints in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from altair) (0.3)
Requirement already satisfied: jsonschema in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from altair) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from pandas>=0.18->altair) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from pandas>=0.18->altair) (2020.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: six>=1.11.0 in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from jsonschema->altair) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from jsonschema->altair) (0.17.3)
Requirement already satisfied: setuptools in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from jsonschema->altair) (49.2.1)
Requirement already satisfied: attrs>=17.4.0 in /Users/lukeharold/.local/share/virtualenvs/2020_ballot_measures-CjUSjjuI/lib/python3.8/site-packages (from jsonschema->altair) (20.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import altair as alt

In [4]:
committee_1 = pd.read_csv("tax_reform_1.csv")

In [5]:
committee_2 = pd.read_csv("tax_reform_2.csv")

In [6]:
committee_3 = pd.read_csv("tax_reform_3.csv")

In [7]:
committee_4 = pd.read_csv("tax_reform_4.csv")

In [8]:
committee_5 = pd.read_csv("tax_reform_5.csv")

In [9]:
committee_6 = pd.read_csv("tax_reform_6.csv")

In [10]:
committee_7 = pd.read_csv("tax_reform_7.csv")

In [11]:
committee_8 = pd.read_csv("tax_reform_8.csv")

In [12]:
committee_9 = pd.read_csv("tax_reform_9.csv")

In [13]:
committee_10 = pd.read_csv("tax_reform_10.csv")

In [14]:
committee_11 = pd.read_csv("tax_reform_11.csv")

In [15]:
committee_12 = pd.read_csv("tax_reform_12.csv")

In [16]:
committee_13 = pd.read_csv("tax_reform_13.csv")

In [17]:
committee_14 = pd.read_csv("tax_reform_14.csv")

In [18]:
committee_15 = pd.read_csv("tax_reform_15.csv")

In [19]:
committee_16 = pd.read_csv("tax_reform_16.csv")

In [20]:
committee_17 = pd.read_csv("tax_reform_17.csv")

In [21]:
committee_18 = pd.read_csv("tax_reform_18.csv")

In [22]:
contribs = pd.concat([committee_1, committee_2, committee_3, committee_4, committee_5, committee_6, committee_7, committee_8, committee_9, committee_10, committee_11, committee_12, committee_13, committee_14, committee_15, committee_16, committee_17, committee_18], sort=True)

In [23]:
## total raised by committees representing both sides

In [24]:
contribs.groupby("position").amount.sum()

position
oppose     28346883
support    39080470
Name: amount, dtype: int64

In [25]:
## average contribution

In [26]:
contribs.groupby("position").amount.mean()

position
oppose      4870.598454
support    28034.770445
Name: amount, dtype: float64

In [27]:
## Number of individual donors for and against:

In [28]:
supporters = contribs[contribs.position == "support"]

In [29]:
opponents = contribs[contribs.position == "oppose"]

In [30]:
opponents.occupation.value_counts()

RETIRED                3208
FARMER                  229
RANCHER                  65
BUSINESS OWNER           43
REAL ESTATE              35
                       ...
TICKET TAKER              1
SECURITY SUPERVISOR       1
DR                        1
CEO, CHAIRMAN             1
SALES ASSOCIATE           1
Name: occupation, Length: 357, dtype: int64

In [63]:
supporters.occupation.value_counts()

NOT-EMPLOYED                    274
RETIRED                          72
TEACHER                          46
CONSULTANT                       37
LAWYER                           34
                               ...
ANALYST                           1
GRANTS AND CONTRACTS ANALYST      1
REAL ESTATE BROKER                1
ASSISTANT                         1
POLITICAL COORDINATOR             1
Name: occupation, Length: 195, dtype: int64

In [31]:
top_opponents = opponents.groupby("name_of_contributor").amount.sum().reset_index()

In [32]:
top_supporters = supporters.groupby("name_of_contributor").amount.sum().reset_index()

In [33]:
top_supporters.sort_values("amount", ascending = False)

                                   name_of_contributor    amount
91          CALIFORNIA TEACHERS ASSOCIATION ISSUES PAC  11760654
584  SEIU CALIFORNIA STATE COUNCIL (NONPROFIT 501 (...   5520907
120  CHAN ZUCKERBERG INITIATIVE ADVOCACY - YES ON 1...   4500000
588                         SEIU LOCAL 2015 ISSUES PAC   3157773
118     CHAN ZUCKERBERG ADVOCACY (NONPROFIT 501(C)(4))   2115000
..                                                 ...       ...
398                                       LINDA HERMAN        50
220                                      EVE BARRINGER        50
476                                         MONA LOCKE        20
228                                      FRED MORRISON        20
473  MILLION VOTER PROJECT ACTION FUND, SPONSORED B...         0

[673 rows x 2 columns]

In [34]:
pd.set_option('display.max_rows', 20)

In [35]:
## contributions from San Diego/North County coastal area

In [36]:
SD_contribs = contribs[contribs.city == "SAN DIEGO"]

In [37]:
DM_contribs = contribs[contribs.city == "DEL MAR"]

In [38]:
SB_contribs = contribs[contribs.city == "SOLANA BEACH"]

In [39]:
LJ_contribs = contribs[contribs.city == "LA JOLLA"]

In [40]:
ENC_contribs = contribs[contribs.city == "ENCINITAS"]

In [41]:
RSF_contribs = contribs[contribs.city == "RANCHO SANTA FE"]

In [42]:
OC_contribs = contribs[contribs.city == "OCEANSIDE"]

In [43]:
CB_contribs = contribs[contribs.city == "CARLSBAD"]

In [44]:
NCC_contribs = pd.concat([DM_contribs, SB_contribs, LJ_contribs, ENC_contribs, RSF_contribs, OC_contribs, CB_contribs])

In [45]:
NCC_contribs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 97 to 700
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   amount               146 non-null    int64
 1   city                 146 non-null    object
 2   committee_name       140 non-null    object
 3   employer             93 non-null     object
 4   filed_date           146 non-null    object
 5   id_number            2 non-null      object
 6   name_of_contributor  146 non-null    object
 7   occupation           111 non-null    object
 8   payment_type         146 non-null    object
 9   position             146 non-null    object
 10  state                146 non-null    object
 11  support              0 non-null      object
 12  transaction_date     146 non-null    object
 13  transaction_number   146 non-null    object
 14  zip                  146 non-null    object
dtypes: int64(1), object(14)
memory usage: 18.2+ KB

In [46]:
## As expected, there is a lot of opposition to the ballot measure
## from North County.

## Interestingly enough, Encinitas resident and NC League of Women Voters president
## Anne Omsted has been donating money in support of the measure

In [47]:
north_county_supporters = NCC_contribs[NCC_contribs.position == "support"]

In [48]:
north_county_supporters.sort_values("amount", ascending = False)

,amount,city,committee_name,employer,filed_date,id_number,name_of_contributor,occupation,payment_type,position,state,support,transaction_date,transaction_number,zip
776,125000,LA JOLLA,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,SALK INSTITUTE,9/24/2020,NaN,IRWIN JACOBS,BOARD OF TRUSTEES,MONETARY,support,CA,NaN,8/31/2020,2506011 - VVBNQRS5JS7,92037-2041
777,125000,LA JOLLA,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,LANG LANG INTERNATIONAL MUSIC FOUNDATION,9/24/2020,NaN,JOAN JACOBS,BOARD OF TRUSTEES,MONETARY,support,CA,NaN,8/31/2020,2506011 - VVBNQRS5KH7,92037-2041
717,50000,ENCINITAS,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,NaN,9/24/2020,1.35791e+06,CALIFORNIA WORKS: SENATOR TONI ATKINS BALLOT M...,NaN,MONETARY,support,CA,NaN,8/26/2020,2506011 - VVBNQRQPXX4,92024-8705
788,1000,LA JOLLA,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,SULLIVAN HILL,9/24/2020,NaN,CANDACE CARROLL,ATTORNEY,MONETARY,support,CA,NaN,9/2/2020,2506011 - VVBNQRTYRQ4,92037-5731
617,500,ENCINITAS,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,NaN,9/24/2020,NaN,SANDRA TIMMONS,NOT EMPLOTED,MONETARY,support,CA,NaN,8/4/2020,2506011 - VVBNQRJES02,92024-7266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199,150,LA JOLLA,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,UC SAN DIEGO,7/31/2020,NaN,KAREN HIRSCHFELD,GRANT COORDINATOR,MONETARY,support,CA,NaN,5/14/2020,2487568 - VVBNQR16J48,92037-7306
11,100,ENCINITAS,LEAGUE OF WOMEN VOTERS OF CALIFORNIA SUPPORTIN...,NaN,1/31/2020,NaN,BLAZE NEWMAN,RETIRED,MONETARY,support,CA,NaN,10/24/2019,2444403 - VVBS5QCX4P5,92024-3805
284,100,OCEANSIDE,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,NaN,7/31/2020,NaN,DIANE NYGAARD,NOT-EMPLOYED,MONETARY,support,CA,NaN,3/12/2020,2470948 - VVBNQQQ9716,92056-5446
1227,50,LA JOLLA,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,SAN DIEGO EDUCATION ASSOCIATION,7/31/2020,NaN,RAFAL DOBROWOLSKI,UNION ORGANIZER,MONETARY,support,CA,NaN,6/2/2020,2487568 - VVBNQR60MG1,92037-5974
1185,50,LA JOLLA,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,SAN DIEGO EDUCATION ASSOCIATION,7/31/2020,NaN,RAFAL DOBROWOLSKI,UNION ORGANIZER,MONETARY,support,CA,NaN,5/14/2020,2487568 - VVBNQR16GN9,92037-5974

In [49]:
## Anne Omsted has donated 1650 out of the first 2000 in support that has
## come from North County

## bigger donors that stepped up in favor of Prop. 15 include former Qualcomm exec
## Irwin Jacobs and his wife, Joan

In [66]:
north_county_supporters[north_county_supporters.name_of_contributor.str.contains("OMSTED")].amount.sum()

3400

In [50]:
north_county_supporters[north_county_supporters.name_of_contributor == "ANNE OMSTED"].amount.sum()

3400

In [51]:
NCC_contribs.groupby("position").amount.sum()

position
oppose      53723
support    305350
Name: amount, dtype: int64

In [52]:
NCC_contribs[NCC_contribs.position == "oppose"].sort_values("amount", ascending = False)

,amount,city,committee_name,employer,filed_date,id_number,name_of_contributor,occupation,payment_type,position,state,support,transaction_date,transaction_number,zip
69,10000,LA JOLLA,NaN,NaN,9/24/2020,1.42865e+06,LA JOLLA COUNTRY CLUB,NaN,MONETARY,oppose,CA,NaN,8/7/2020,2505465 - INC52,92037
53,5000,CARLSBAD,NO ON PROP 15 - STOP HIGHER PROPERTY TAXES AND...,NaN,4/30/2020,NaN,"INTEGRAL SENIOR LIVING MANAGEMENT, LLC",NaN,MONETARY,oppose,CA,NaN,2/7/2020,2470194 - INC224,92008
202,2000,SOLANA BEACH,NO ON PROP 15 - STOP HIGHER PROPERTY TAXES AND...,NaN,9/24/2020,NaN,SOLANA BEACH MINI STORAGE LLC DBA SMART SELF S...,NaN,MONETARY,oppose,CA,NaN,8/7/2020,2505593 - IDT45,92075
200,2000,CARLSBAD,NO ON PROP 15 - STOP HIGHER PROPERTY TAXES AND...,NaN,9/24/2020,NaN,CARLSBAD SELF STORAGE LLC,NaN,MONETARY,oppose,CA,NaN,8/7/2020,2505593 - IDT43,92011
194,2000,ENCINITAS,NO ON PROP 15 - STOP HIGHER PROPERTY TAXES AND...,NaN,9/24/2020,NaN,OLIVENHAIN SELF STORAGE LLC,NaN,MONETARY,oppose,CA,NaN,8/7/2020,2505593 - IDT37,92024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,100,ENCINITAS,FAMILY FARMERS AGAINST PROP 15 - STOP HIGHER F...,NaN,9/24/2020,NaN,"DRAMM & ECHTER, INC.",NaN,MONETARY,oppose,CA,NaN,9/14/2020,2505637 - INC1192,92024
2206,65,OCEANSIDE,"PROTECT PROP. 13, NO ON 15, A PROJECT OF THE H...",DEPT VETERANS AFFAIRS,1/30/2020,NaN,JOHN M DAVIS,ARCHITECT,MONETARY,oppose,CA,NaN,11/7/2019,2439438 - INC71753,920565492
1475,65,OCEANSIDE,"PROTECT PROP. 13, NO ON 15, A PROJECT OF THE H...",INGWERSEN NURSERY INC,1/30/2020,NaN,JANE A INGWERSEN,NURSERYMAN,MONETARY,oppose,CA,NaN,10/18/2019,2439438 - INC66120,920545637
1581,60,LA JOLLA,"PROTECT PROP. 13, NO ON 15, A PROJECT OF THE H...",NONE,1/30/2020,NaN,JAMES R FURBY,RETIRED,MONETARY,oppose,CA,NaN,10/18/2019,2439438 - INC67293,920373942
1157,50,DEL MAR,"PROTECT PROP. 13, NO ON 15, A PROJECT OF THE H...",NONE,1/30/2020,NaN,BRIAN CAPON,RETIRED,MONETARY,oppose,CA,NaN,10/16/2019,2439438 - INC64470,920142139

In [53]:
## Mark Zuckerberg and Priscilla Chan have been the biggest supporters 
## of the ballot measures for Prop 13 reform.

In [54]:
zuck_contribs = contribs[contribs.name_of_contributor.str.contains("ZUCKERBERG")]

In [55]:
zuck_contribs

,amount,city,committee_name,employer,filed_date,id_number,name_of_contributor,occupation,payment_type,position,state,support,transaction_date,transaction_number,zip
1,195000,PALO ALTO,"MILLION VOTER PROJECT ACTION FUND - YES ON 15,...",NaN,7/31/2020,1.40586e+06,CHAN ZUCKERBERG ADVOCACY (NONPROFIT 501(C)(4)),NaN,MONETARY,support,CA,NaN,4/30/2020,2486385 - VSH3JKXY7W3,94301-1546
7,315000,PALO ALTO,"MILLION VOTER PROJECT ACTION FUND - YES ON 15,...",NaN,4/30/2019,1.40586e+06,CHAN ZUCKERBERG ADVOCACY (NONPROFIT 501(C)(4)),NaN,MONETARY,support,CA,NaN,2/21/2019,2381380 - VSH3JHKJ094,94301-1546
0,150000,REDWOOD CITY,"PICO CALIFORNIA ACTION FUND-YES ON 15, NO ON 2...",NaN,9/24/2020,NaN,CHAN ZUCKERBERG INSTITUTE ADVOCACY,NaN,MONETARY,support,CA,NaN,8/17/2020,2505547 - INC4,94063
1,30000,REDWOOD CITY,"SILICON VALLEY RISING ACTION, YES ON PROP 15, ...",NaN,7/31/2020,NaN,CHAN ZUCKERBERG INITIATIVE ADVOCACY,NaN,MONETARY,support,CA,NaN,6/26/2020,2486497 - INC2,94063
3,6916,REDWOOD CITY,"SILICON VALLEY RISING ACTION, YES ON PROP 15, ...",NaN,9/24/2020,NaN,CHAN ZUCKERBERG INITIATIVE ADVOCACY,NaN,MONETARY,support,CA,NaN,7/24/2020,2505228 - INC11,94063
6,100000,REDWOOD CITY,"SILICON VALLEY RISING ACTION, YES ON PROP 15, ...",NaN,9/24/2020,NaN,CHAN ZUCKERBERG INITIATIVE ADVOCACY,NaN,MONETARY,support,CA,NaN,8/13/2020,2505228 - INC96,94063
7,2301,REDWOOD CITY,"SILICON VALLEY RISING ACTION, YES ON PROP 15, ...",NaN,9/24/2020,NaN,CHAN ZUCKERBERG INITIATIVE ADVOCACY,NaN,MONETARY,support,CA,NaN,7/31/2020,2505228 - INC97,94063
420,185000,PALO ALTO,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,NaN,4/30/2019,1.40586e+06,CHAN ZUCKERBERG ADVOCACY (NONPROFIT 501(C)(4)),NaN,MONETARY,support,CA,NaN,2/21/2019,2381375 - VVBNQHHDHM7,94301-1546
439,115000,PALO ALTO,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,NaN,3/27/2020,1.40586e+06,CHAN ZUCKERBERG ADVOCACY (NONPROFIT 501(C)(4)),NaN,MONETARY,support,CA,NaN,5/7/2019,2400012 - VVBNQKJQFJ4,94301-1546
498,1000000,PALO ALTO,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,NaN,10/31/2019,1.40586e+06,CHAN ZUCKERBERG ADVOCACY (NONPROFIT 501(C)(4)),NaN,MONETARY,support,CA,NaN,8/22/2019,2420008 - VVBNQPHK7Q8,94301-1546
634,4500000,PALO ALTO,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,NaN,9/24/2020,1.40586e+06,CHAN ZUCKERBERG INITIATIVE ADVOCACY - YES ON 1...,NaN,MONETARY,support,CA,NaN,8/11/2020,2506011 - VVBNQRJMMM7,94306-2515
1112,305000,PALO ALTO,YES ON 15 - SCHOOLS AND COMMUNITIES FIRST SPON...,NaN,7/31/2020,1.40586e+06,CHAN ZUCKERBERG ADVOCACY (NONPROFIT 501(C)(4)),NaN,MONETARY,support,CA,NaN,4/30/2020,2487568 - VVBNQQWJ4C5,94301-1546

In [56]:
zuck_contribs.amount.sum()

6904217

In [57]:
committee_15.committee_name.value_counts()

STOP HIGHER TAXES COMMITTEE, SPONSORED BY FAMILY BUSINESS ASSOCIATION OF CALIFORNIA    21
Name: committee_name, dtype: int64

In [58]:
top_supporters.head(10)

         name_of_contributor  amount
0               AARON COWDIN     100
1               AARON HEBERT     350
2                  ABBY SHER     250
3            ABEL VALENZUELA     500
4                ADA HORWICH     150
5               ADAM GUNTHER   35000
6                 ADAM LITLE     250
7              ADELE ANDRADE     100
8  AFT GUILD LOCAL 1931-COPE   15000
9           ALAN FRIEDENBERG      75

In [59]:
alt.Chart(top_supporters.head(10)).mark_bar().encode(
    x="amount",
    y="name_of_contributor"
).properties(
    title = "Top contributors for split roll ballot measure")

alt.Chart(...)

In [60]:
top_supporters.head(10).to_csv("top_supporters.csv")

In [61]:
## League of Women voters contribus

In [62]:
lowv_contribs = contribs[contribs.committee_name.str.contains("LEAGUE OF WOMEN VOTERS")]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
lowv_contribs.amount.sum()

In [ ]:
agriculture = contribs[contribs.committee_name.str.contains("AGRICULT")]

In [ ]:
farmers = contribs[contribs.committee_name.str.contains("FARMER")]

In [ ]:
ag_industry = pd.concat([agriculture, farmers], sort=True)

In [ ]:
ag_industry.amount.sum()

In [ ]:
## The committees that raised the most

In [ ]:
committee_totals = contribs.groupby("committee_name").amount.sum().reset_index()

In [ ]:
committee_totals.sort_values("amount", ascending = False)

## expenditures

In [ ]:
expenditures_1 = pd.read_csv("expenditures_1.csv")

In [ ]:
expenditures_2 = pd.read_csv("expenditures_2.csv")

In [ ]:
expenditures_3 = pd.read_csv("expenditures_3.csv")

In [ ]:
expenditures_4 = pd.read_csv("expenditures_4.csv")

In [ ]:
expenditures_5 = pd.read_csv("expenditures_5.csv")

In [ ]:
expenditures_6 = pd.read_csv("expenditures_6.csv")

In [ ]:
expenditures_7 = pd.read_csv("expenditures_7.csv")

In [ ]:
expenditures_8 = pd.read_csv("expenditures_8.csv")

In [ ]:
expenditures_9 = pd.read_csv("expenditures_9.csv")

In [ ]:
expenditures_10 = pd.read_csv("expenditures_10.csv")

In [ ]:
expenditures_11 = pd.read_csv("expenditures_11.csv")

In [ ]:
expenditures_12 = pd.read_csv("expenditures_12.csv")

In [ ]:
expenditures = pd.concat([expenditures_1, expenditures_2, expenditures_3, expenditures_4, expenditures_5, expenditures_6, expenditures_7, expenditures_8, expenditures_9, expenditures_10, expenditures_11, expenditures_12], sort=True)

In [ ]:
supporting_expenditures = expenditures[expenditures.position == "support"]

In [ ]:
supporting_expenditures.amount.sum()

In [ ]:
opposing_expenditures = expenditures[expenditures.position == "oppose"]

In [ ]:
opposing_expenditures.amount.sum()

In [ ]:
expenditures.groupby("position").amount.sum().reset_index()